<h2>Register</h2>
<div class="form">
  <form [formGroup]="registerForm" #f="ngForm">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Email" registerForm="email" formControlName="email" id="email"
        name="email" required>
    </mat-form-field>
    <br>
    <div *ngIf="f.submitted && registerForm.get('email')?.errors?.required" style="color: red">
      Email is required
    </div>

    <mat-form-field class="example-full-width" appearance="fill" registerForm="username">
      <mat-label>Username</mat-label>
      <input matInput type="text" placeholder="Username" formControlName="username" id="username" name="username"
        required>
    </mat-form-field>
    <br>
    <div *ngIf="f.submitted && registerForm.get('username')?.errors?.required" style="color: red">
      Username is required
    </div>


    <mat-form-field class="example-full-width" appearance="fill" registerForm="firstname">
      <mat-label>FirstName</mat-label>
      <input matInput placeholder="FirstName" formControlName="firstname" id="firstname" name="firstname" required>
    </mat-form-field>

    <br>
    <div *ngIf="f.submitted && registerForm.get('firstname')?.errors?.required" style="color: red">
      Firstname is required
    </div>

    <mat-form-field class="example-full-width" appearance="fill" registerForm="lastname">
      <mat-label>LastName</mat-label>
      <input matInput placeholder="LastName" formControlName="lastname" id="lastname" name="lastname" required>
    </mat-form-field>

    <br>
    <div *ngIf="f.submitted && registerForm.get('lastname')?.errors?.required" style="color: red">
      Lastname is required
    </div>


    <mat-form-field class="example-full-width" appearance="fill" registerForm="phone">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Phone" id="phone" formControlName="phone" name="phone" required>
    </mat-form-field>

    <br>
    <div *ngIf="f.submitted && registerForm.get('phone')?.errors?.required" style="color: red">
      Phone is required
    </div>


    <mat-form-field class="example-full-width" appearance="fill" registerForm="address">
      <mat-label>Address</mat-label>
      <input matInput placeholder="Address" id="address" formControlName="address" name="address" required>
    </mat-form-field>

    <br>
    <div *ngIf="f.submitted && registerForm.get('address')?.errors?.required" style="color: red">
      Adress is required
    </div>

    <mat-form-field class="example-full-width" appearance="fill" registerForm="city">
      <mat-label>City</mat-label>
      <input matInput placeholder="City" id="city" formControlName="city" name="city" required>
    </mat-form-field>

    <br>
    <div *ngIf="f.submitted && registerForm.get('city')?.errors?.required" style="color: red">
      City is required
    </div>


    <mat-form-field class="example-full-width" appearance="fill" registerForm="country">
      <mat-label>Country</mat-label>
      <input matInput placeholder="Country" id="country" name="country" formControlName="country" required>
    </mat-form-field>

    <br>
    <div *ngIf="f.submitted && registerForm.get('country')?.errors?.required" style="color: red">
      Country is required
    </div>

    <mat-form-field class="example-full-width" appearance="fill" registerForm="password">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" name="password" formControlName="password" type="password" required>
    </mat-form-field>

    <br>
    <div *ngIf="f.submitted && registerForm.get('password')?.errors?.required" style="color: red">
      Password is required
    </div>

    <br>

    <button color="primary" mat-button (click)="register()">S'enregistrer</button>

  </form>
</div>